[flake8]
max-line-length = 100
extend-ignore =
	# ignore tabs
	W191,
	# blank line at end of file
	W391,
	# white space inside {}
	E201,
	E202,
	# multiple blank lines
	; E303,
	# lambda functions assigned to a variable
	E731,
	# multiple statements on one line (colon)
	E701,

