chromadb
ctransformers
httpx
InstructorEmbedding
langchain
llama-cpp-python
msg-parser
odfpy
openpyxl
pandas
pypandoc
pypdf
python-docx
python-dotenv
python-multipart
python-pptx
ruamel.yaml
sentence-transformers==2.2.2
torch
torchvision
transformers
unstructured@git+https://github.com/kyteinsky/unstructured@d3a404cfb541dae8e16956f096bac99fc05c985b
unstructured-client
weaviate-client
xlrd
