apscheduler
chromadb
ctransformers
epub2txt
fastapi
httpx
langchain
langchain-community
langchain-postgres
langchain-unstructured
llama_cpp_python
msg-parser
nc_py_api
odfdo
odfpy
openpyxl
pandas
psutil
pypdf
docx2txt
protobuf==3.20.0
python-dotenv
python-multipart
python-pptx
ruamel.yaml
sentence-transformers
setuptools
sse_starlette
starlette_context
striprtf
torch
torchvision
transformers
unstructured @ git+https://github.com/kyteinsky/unstructured@68394f64e8fcf800945327eb246369ab31d95eca
wheel
xlrd
