apscheduler
chromadb
ctransformers
epub2txt
fastapi
httpx
InstructorEmbedding
langchain
langchain-community
llama_cpp_python
msg-parser
odfdo
odfpy
openpyxl
pandas
pypdf
docx2txt
protobuf==3.20.0
python-dotenv
python-multipart
python-pptx
ruamel.yaml
sentence-transformers==2.2.2
striprtf
torch
torchvision
transformers
unstructured @ git+https://github.com/kyteinsky/unstructured@d3a404cfb541dae8e16956f096bac99fc05c985b
unstructured-client
weaviate-client
xlrd
nc_py_api
