# SPDX-FileCopyrightText: 2026 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

# AppAPI headers
AA_VERSION=3.0.0
APP_SECRET=12345
APP_ID=ccb_test_providers
APP_DISPLAY_NAME=CCB Test Providers
APP_VERSION=1.0.0
APP_HOST=0.0.0.0
APP_PORT=10020
APP_PERSISTENT_STORAGE=persistent_storage
#NEXTCLOUD_URL=http://localhost:8080
NEXTCLOUD_URL=http://Nextcloud.nc.ncweb
